html {
    background-color: lightgray;
    font-family: 'Raleway', sans-serif;
    min-height: 100%;
}

body {
    margin: 1em auto;
    background: #fff;
    /*width: 800px; */
    width: 60%;
}

/* main {
    min-height: 600px;
} */
.apa {
    font-size: 1.2vw;
    width: 100%;
}
#Article1 {
    width: 40%;
}
#Article2 {
    width: 40%;
}

section {
    border-top: 1px solid gray;
}
p {
font-size: 1.2vw;
}

h1 {
    text-align: center;
    font-size: 2vw;
}
article {
    padding: 10px;
}

nav {
    padding: 10px;
    border: 2px solid darkgreen;
    font-size: 1.2vw;
    text-align: center;
}

header {
    padding: 8px;
}

footer {
    border-top: solid 2px darkgreen;
    padding: 10px;
    text-align: center;
}

    .gorilla {
        position: relative;
  }
  img{
      width: 80%;
      height: 50%;
      margin-left: 10%;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  }
  p{
      text-align: center;
      font-size: 1.2vw;
  }